<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<body
    style="
      box-shadow: 2px 2px 2px rgb(177, 177, 177);
      max-height: 600px;
      font-family: 'Kanit', sans-serif;
      padding: 20px 30px;
      border: 1px solid #8f8f8f;
      border-radius: 5px;
    "
  >
    <div style="text-align: center">
      <img src="https://splitact.com/img/S_A_logo.png" style="width: 100px" />
    </div>
    <div style="width: 100%">
      <h1 style="color: black">Hello, <span style="font-size: 18px;"><%= name %></span></h1>
      <p style="color: #8f8f8f; margin-bottom: 50px; font-size: 18px">
        You are receiving this email because we received a password reset
        request for your account. <span style="color: #ff672b;" >This request will expires in 10 minutes</span>
      </p>
    </div>
    <div style="text-align: center">
      <a
        style="
          padding: 10px 25px;
          background-color: #644cc6;
          color: white;
          border-radius: 5px;
          text-align: center;
          margin: 70px 0;
          font-size: 22px;
          text-decoration: none;
        "
        href="https://splitact.com/resetpassword/newpassword?rstoken=<%= rsToken %>"
        >Reset password</a
      >
    </div>
    <div style="color: #8f8f8f; margin-top: 50px; font-size: 18px">
      if you did not request a password reset,
      <span style="color: red">no further action is required.</span>
      <h3>Regards,</h3>
    </div>
    <div style="display: flex; align-items: center; justify-content: center">
      <img src="https://splitact.com/img/S_A_logo.png" style="width: 50px" />
      <span style="color: black; font-size: 18px; margin-left: 30px; font-weight: 800; padding-top: 15px;"
        >Split <span style="color: #ff672b;" >A</span><span style="color: #644cc6;"  >C</span>T Team.</span
      >
    </div>
  </body>
</html>